<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg mb-2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">AngularBases</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" >Contador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" [routerLink]="['/hero']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Hero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-disabled="true" [routerLink]="['/dragonball']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Dragon Ball</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
